repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: name-tests-test

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.6"
    hooks:
      - id: ruff
        args:
          - "--exit-non-zero-on-fix"
      - id: ruff-format

  - repo: https://github.com/pycqa/pylint
    # Cannot be replaced by ruff until https://github.com/astral-sh/ruff/issues/970 is closed
    rev: "v3.0.1"
    hooks:
      - id: pylint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.0"
    hooks:
      - id: mypy
        additional_dependencies:
          - packaging
          - gitpython
          - pytest
          - typer
          - hypothesis

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v9.9.0"
    hooks:
      - id: commitlint
        stages:
          - commit-msg
        additional_dependencies:
          - "@commitlint/config-conventional"
        args:
          - "--config=.commitlintrc.json"
