[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
gitpython = "*"
packaging = "*"
typing-extensions = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
hypothesis = "*"
pre-commit = "*"

[scripts]
test = "pytest --cov --cov-report term-missing:skip-covered --cov-report xml:coverage-report.xml --junitxml=coverage.xml ./tests"
